<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333978861746-01kmpv9r31hstdmchqq23on0m5e0967n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333978861746-01kmpv9r31hstdmchqq23on0m5e0967n</string>
	<key>API_KEY</key>
	<string>AIzaSyCIgd5AC6MeUlcTJ9Ephj1iBJPGnfb-hQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>333978861746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proyectemosIos</string>
	<key>PROJECT_ID</key>
	<string>proyectemos-9924c</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectemos-9924c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333978861746:ios:8d37ce798e2e4bd43a89ab</string>
</dict>
</plist>